body {
    font-family: Inter;
    line-height: 1.6rem;
    color: var(--on-background);
    background-color: var(--background);
}

a, button {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
    cursor: pointer;
}

body ::selection {
    color: var(--on-primary);
    background-color: var(--primary);
}

main {
    margin: auto;
    padding: var(--page-margin);
    display: flex;
    flex-direction: column;
    max-width: var(--page-width);

    & > :nth-child(1) {
        opacity: 0;
        animation: load-in-animation 0.7s forwards ease-out;
        animation-delay: 0.25s;
    }
    & > :nth-child(2) {
        opacity: 0;
        animation: load-in-animation 0.7s forwards ease-out;
        animation-delay: 0.5s;
    }
    & > :nth-child(3) {
        opacity: 0;
        animation: load-in-animation 0.7s forwards ease-out;
        animation-delay: 0.75s;
    }
    & > :nth-child(4) {
        opacity: 0;
        animation: load-in-animation 0.7s forwards ease-out;
        animation-delay: 1s;
    }
    & > :nth-child(5) {
        opacity: 0;
        animation: load-in-animation 0.7s forwards ease-out;
        animation-delay: 1.25s;
    }
    & > :nth-child(6) {
        opacity: 0;
        animation: load-in-animation 0.7s forwards ease-out;
        animation-delay: 1.5s;
    }
}