p.greeting {
    margin: 2rem 0;
    padding: 1rem 2rem;
    align-self: center;
    width: fit-content;
    border-radius: 1rem;
    color: var(--on-primary);
    background-color: var(--primary);

    &::selection {
        color: var(--on-primary-container);
        background-color: var(--primary-container);
    }
}

section.biography table {
    border-collapse: collapse;
    width: 100%;
}

section.biography table tr {

    th {
        text-align: left;
        vertical-align: top;
        padding: 0.25rem 0.5rem;
        white-space: nowrap;
        font-weight: bold;
    }

    td {
        padding: 0.25rem 0.5rem 0.25rem 1rem;
        vertical-align: top;
    }
}