section.tech-stack ul {
    padding: 0;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;

    li {
        padding: 0 1rem;
        border-radius: 0.4rem;
        background-color: var(--surface-container-high);

        @media (hover: hover) {
            transition: var(--transition);

            &:hover {
                transform: translateY(-0.25rem);
                background-color: var(--surface-container-highest);
            }
        }

    }
}